# Copyright (c) {{cookiecutter.copyright_year}} {{cookiecutter.copyright_holder}}
# SPDX-License-Identifier: Apache-2.0

if BOARD_{{cookiecutter.__board_name_upper_underscore}}

endif # BOARD_{{cookiecutter.__board_name_upper_underscore}}
