# Copyright (c) {{cookiecutter.copyright_year}} {{cookiecutter.copyright_holder}}
# SPDX-License-Identifier: Apache-2.0

config BOARD_{{cookiecutter.__board_name_upper_underscore}}
	select SOC_{{cookiecutter.zephyr_board_soc}}
