# Copyright (c) {{cookiecutter.copyright_year}} {{cookiecutter.copyright_holder}}
# SPDX-License-Identifier: Apache-2.0

menuconfig {{cookiecutter.__reference_snake.upper()}}
    bool "{{cookiecutter.description}}"
    default y
    depends on DT_HAS_{{cookiecutter.__vendor_prefix_snake.upper()}}_{{cookiecutter.__reference_snake.upper()}}_ENABLED
{% if cookiecutter.bus != "NONE" %}    select {{cookiecutter.bus}}
{% endif %}    help
      Enable driver for {{cookiecutter.description}}.
