/*
 * Copyright (c) {{cookiecutter.copyright_year}}, {{cookiecutter.copyright_holder}}
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/sixtron-header.h>

{% if cookiecutter.bus == "NONE" %}
/ {
    {{cookiecutter.__reference_dash}}: {{cookiecutter.__reference_snake}} {
        compatible = "{{cookiecutter.vendor_prefix}},{{cookiecutter.__reference_dash}}";
    };
{% endif %}};
{% if cookiecutter.bus != "NONE" %}{% if cookiecutter.bus == "I2C" %}
&sixtron_i2c {
    status = "okay";

    {{cookiecutter.__reference_dash}}: {{cookiecutter.__reference_snake}}@XX {
        compatible = "{{cookiecutter.vendor_prefix}},{{cookiecutter.__reference_dash}}";
        reg = <0xXX>;
    };
{% elif cookiecutter.bus == "SPI" %}
&sixtron_spi {
    status = "okay";

    {{cookiecutter.__reference_dash}}: {{cookiecutter.__reference_snake}}@X {
        compatible = "{{cookiecutter.vendor_prefix}},{{cookiecutter.__reference_dash}}";
        reg = <X>;
    };
{% elif cookiecutter.bus == "SERIAL" %}
&sixtron_uart {
    status = "okay";
    current-speed = <9600>;

    {{cookiecutter.__reference_dash}}: {{cookiecutter.__reference_snake}} {
        compatible = "{{cookiecutter.vendor_prefix}},{{cookiecutter.__reference_dash}}";
    };
{% endif %}};
{% endif %}
